@import "elements/elements.less";

@light: rgb(243,242,244);
@dark: rgb(47,47,47);
@primary: rgb(87,122,20);
@secondary: rgb(102,88,81);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "News Cycle", "Helvetica", "Arial", sans-serif;
	background: @light;
	color: @dark;
}

header {
	background: @primary;
	padding: 50px 2%;
	padding-bottom: 0;
	text-align: center;
	color: @light;
	text-shadow: 0 0 4px @dark;
	font-family: "Open Sans Condensed", "Helvetica", "Arial", sans-serif;
	
	h1 {
		font-size: 3em;
		text-transform: uppercase;
	}
	
	h2 {
		font-size: 1.3em;
		padding-top: 20px;
	}
	
	.social {
		padding: 50px 0 20px 0;
	}
}

section {
	position: relative;
	margin: 0 auto;
	max-width: 600px;
	padding: 10px 2% 0 2%;
	
	p {
		padding: 10px 0;
	}
}

footer {
	font-size: .9em;
	background: #fff;
	padding: 5px 2%;
	margin-top: 20px;
	background: @secondary;
	color: @light;
	overflow: hidden;
	
	a {
		color: @light;
	}
	
	p {
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
		}
	}
}

.social {
	max-width: 343px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#mc_embed_signup {
	.rounded(5px);
	margin-top: 10px;
	
	input[type=submit] {
		background: @secondary;
	
		&:hover {
			background: lighten(@secondary, 20%);
		}
	}
}

@media screen and (min-width: 600px) {
	header {
		padding: 70px 2%;
		padding-bottom: 0;
		
		h1 {
			font-size: 5em;
		}
		
		h2 {
			font-size: 2em;
			padding-top: 0;
		}
		
		.social {
			padding: 70px 0 20px 0;
		}
	}
}

@media screen and (min-width: 900px) {
	header {
		padding: 100px 2%;
		padding-bottom: 0;
		
		h1 {
			font-size: 7em;
		}
		
		.social {
			padding: 100px 0 20px 0;
		}
	}
}