@import "elements/elements.less";

@light: #eee;
@dark: #333;
@primary: #768858;
@secondary: #3b442c;

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
	background: @light;
	color: @dark;
}

nav {
	background: @primary;
	border-bottom: 1px solid @secondary;
	text-transform: uppercase;
	color: @light;
	text-align: right;
	
	li, a {
		display: inline-block;
	}
	
	a {
		padding: 10px;
		color: @light;
		text-decoration: none;
	}
}

header {
	background: @primary;
	padding: 50px 2%;
	padding-bottom: 0;
	text-align: center;
	color: @light;
	text-shadow: 0 0 4px @dark;
	border-bottom: 1px solid @secondary;
	
	h1 {
		font-size: 3em;
		text-transform: uppercase;
	}
	
	h2 {
		font-size: 1.3em;
		padding-top: 20px;
	}
	
	.social {
		padding: 50px 0 20px 0;
	}
}

section {
	position: relative;
	margin: 0 auto;
	max-width: 600px;
	padding: 10px 2% 0 2%;
	
	p {
		padding: 10px 0;
	}
}

footer {
	background: #fff;
	padding: 10px 2%;
	margin-top: 20px;
	background: @primary;
	color: @light;
	overflow: hidden;
	border-top: 1px solid @secondary;
	border-bottom: 1px solid @secondary;
	
	a {
		color: @light;
	}
	
	p {
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
		}
	}
}

.social {
	max-width: 345px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	
	.fb-like {
		position: relative;
		top: -5px;
	}
}

#mc_embed_signup {
	.rounded(5px);
	margin-top: 10px;
	
	input[type=submit] {
		background: @secondary;
	
		&:hover {
			background: lighten(@secondary, 20%);
		}
	}
}

@media screen and (min-width: 600px) {
	header {
		padding: 70px 2%;
		padding-bottom: 0;
		
		h1 {
			font-size: 5em;
		}
		
		h2 {
			font-size: 1.5em;
			padding-top: 0;
		}
		
		.social {
			padding: 70px 0 20px 0;
		}
	}
}

@media screen and (min-width: 900px) {
	header {
		padding: 100px 2%;
		padding-bottom: 0;
		
		h1 {
			font-size: 6em;
		}
		
		h2 {
			font-size: 1.8em;
		}
		
		.social {
			padding: 100px 0 20px 0;
		}
	}
}